<%= stylesheet_link_tag 'mycss.css' %>
<%= form_for(@web) do |f| %>
  

  <div class="field">
    <%= f.label :word %><br />
    <div class= "text_field_effect" >
    <%= f.text_field :word  %>
	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
